body{
    background-color: bisque;
    background-repeat: no-repeat;
    background-size: 1550px;

}

.topo{
    margin-left: 555px;
    margin-top: 125px;
}

.topo h1{
    border: 7px;
    color: rgb(51, 4, 181);
}

.topo p{
    font-size: 20px

}

.botao{
    margin-left: 15px;
    margin-top: 50px;

}

.btn2{
    margin-left: 650px;
    margin-top: 10px;
    text-decoration: none;
    border: 2px solid rgb(51, 4, 181);
    width: 170px;
    text-align: center;
    padding: 12px;
    background-color: rgb(51, 4, 181);
    color: rgb(235, 235, 235);
    border-radius: 18px;
}

.btn{
    margin-left: 150px;
    text-decoration: none;
    border: 2px solid rgb(51, 4, 181);
    width: 170px;
    text-align: center;
    padding: 12px;
    background-color: rgb(51, 4, 181);
    color: rgb(235, 235, 235);
    border-radius: 18px;
}

.btn:hover{
    background: rgb(235, 235, 235);
    color: rgb(51, 4, 181);
}

.btn2:hover{
    background: rgb(235, 235, 235);
    color: rgb(51, 4, 181);
}
button{
    margin-left: 150px;
}

button:hover{
    color: rgb(51, 4, 181);
}